@typeparam TItem
<div class="row">
    <div class="col">
        <label>@Caption</label>
    </div>
    <div class="col">
        <input class="form-control" value="@Value" @oninput="@OnInputChange" disabled="@Disabled" />
    </div>
</div>

@code {
    [Parameter] public string? Caption { get; set; }
    [Parameter] public TItem? Value { get; set; }
    [Parameter] public string? FormatType { get; set; }
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public EventCallback<TItem> ValueChanged { get; set; }

    private async Task OnInputChange(ChangeEventArgs args)
    {
        try
        {
            Value = (TItem)Convert.ChangeType(args.Value, typeof(TItem), System.Globalization.CultureInfo.InstalledUICulture.NumberFormat);
        }
        catch (Exception ex)
        {

            //throw;
        }

        await ValueChanged.InvokeAsync(Value);
    }
}
